{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Rankings</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Rank</td>
                <td>Player</td>
                <td>Rating</td>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'users:detail' player.username %}">{{ player.username }}</a></td>
                    <td>{{ player.rating }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
