{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Rankings</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Rank</td>
                <td>Player</td>
                <td>Race</td>
                <td>Rating</td>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'users:detail' player.username %}">{{ player.username }}</a></td>
		    <td>{{ player.get_race_display }}</td>
                    <td>{{ player.rating }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url 'ladder:player-list' %}?page={{page_obj.previous_page_number}}">&laquo;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link"><span>&laquo;</span></a></li>
            {% endif %}

            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active"><a class="page-link" href="#"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="{% url 'ladder:player-list' %}?page={{page_obj.next_page_number}}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link"><span>&raquo;</span></a></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
