{% extends 'base.html' %}

{% block content %}
    <h1>Foreign Brood War Ladder Season 1 Tournament</h1>

    <p>It is our pleasure to introduce the FBWL Season 1 Finale Tournament on July 29th, 2017. The ladder has been a tremendous success, with hundreds of games being played in the first month, and numerous new members of our community taking part. To cap off the first season, we are launching a four round, Top 16 tournament featuring the best players in the FBW Discord community. With casters from within our community and viewership hopefully across many communities, we think this tournament will be a fun, competitive event</p>

    <p>The prize pool is TBD (and we encourage any of you who would like to donate to the priz epool to do so) and <b>all</b> qualified players will receive some portion of the prizes.</p>

    <p>Currently, the great <b>Schamtoo</b> has agreed to cast the tournament, and we would be thrilled to take applicants from other members who want to throw their hat in the casting ring.</p>

    <p>To outline:</p>
    <ul>
        <li><b>When:</b> July 29th, 2017 (time TBD)</li>
        <li><b>Where:</b> Battle.net, patch 1.18</li>
        <li><b>Who plays: </b>The top 16 ranked players on the FBW Ladder</li>
        <li><b>Who casts: </b>Schamtoo and more guests TBD.</li>
        <li><b>How much: </b>The prize pool is TBD and you are more than welcome to contribute to it.</li>
    </ul>

    <p><b>We look forward to seeing you there!</b></p>
{% endblock %}
