{% extends "base.html" %}
{% block content %}
    <h2>About Foreign Brood War</h2>
    <p>Foreign Brood War is a Discord community focused on, you guessed it, Starcraft: Brood War. The greatest game of all time. With the announcement of SC: Remastered, the community is thriving. Send an email to info@fbwladder.com to get an invite link!</p>
    <h2>About FBW Ladder</h2>
    <p>FBW Ladder is an in-house ranking system for members of the FBW discord. It's entirely casual, for fun, maybe some prizes, and relies heavily on the honor system. Games are played on any server or patch version, and are generally arranged on the discord chat. FBW Ladder utilizes the Elo rating system for player ratings.</p>
{% endblock %}
