{% extends "base.html" %}
{% block content %}
    <h2>About Foreign Brood War</h2>
    <p>Foreign Brood War is a Discord community focused on, you guessed it, Starcraft: Brood War. The greatest game of all time. With the announcement of SC: Remastered, the community is thriving. Send an email to info@fbwladder.com to get an invite link!</p>
    <h2>About FBW Ladder</h2>
    <p>FBW Ladder is an in-house ranking system for members of the FBW discord. It's entirely casual, for fun, maybe some prizes, and relies heavily on the honor system. Games are played on any server or patch version, and are generally arranged on the discord chat. FBW Ladder utilizes the Elo rating system for player ratings.</p>
    <h2>Ladder Rules</h2>
    <ol>
      <li><strong>One account per person.</strong> No smurfing, no adding multiple accounts and playing against them to fraudulently gain rating points. One infraction means a permanent ban from the ladder (and probably the discord. Just don't do it. We're all friends here.)</li>
      <li><strong>Matches must be played on the current season's map pool.</strong> Maps will rotate each season for variety and flavor.</li>
      <li><strong>Both players must confirm the results of the match.</strong> If one player (probably the loser) does not confirm the results, an admin will review the replay and issue the confirmation. In this case, the player who does not report the result will receive an infraction. Multiple infractions will result in suspension for the season, and further infractions in a ban from the ladder. The grace period for confirming results is 24 hours.</li>
      <li><strong>Matches can be played on any server, any patch.</strong></li>
      <li><strong>BM of any kind will not be tolerated.</strong> Leaving the game without a 'gg' is not BM. Be friendly, be decent, don't be a dick.</li>
      <li><strong>All matches must be genuine games.</strong> Any kind of fraudulent matches, win trading, or tanking will result in a disciplinary action.</li>
    </ol>
{% endblock %}
